/* src/ styles/ global.css*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Add any other global styles you need */
